!!! 5
%head
  %title RTLit - CSS LTR to RTL converter

%body
  %header
    %h1 RTLit
    %h3 Convert your CSS-formatter file from left-to-right to right-to-left

  %div#content= yield

  %footer
    %p
      RTLit is the online version of the RTLit gem which can be found on
      %a{:href => 'https://github.com/zohararad/rtlit' } Github