!!! 5
%head
  %title RTLit - CSS LTR to RTL converter
  %link{:href => 'http://fonts.googleapis.com/css?family=Questrial|Merriweather:400,700', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => '/stylesheets/styles.css', :rel => 'stylesheet', :media => 'all', :type => 'text/css'}
  %meta{:name => 'description', :content => 'Convert your CSS from left-to-right to right-to-left layout'}
  %meta{:name => 'keywords', :content => 'CSS, RTL, LTR, left-to-right, right-to-left, convert'}

%body
  %div#layout
    %header
      %h1 RTLit
      %h3 Convert your CSS-formatter file from left-to-right to right-to-left

    %div#content= yield

    %footer
      %p
        RTLit is the online version of the RTLit gem which can be found on
        %a{:href => 'https://github.com/zohararad/rtlit' } Github